---
import '@/styles/globals.css'
import { supabase } from '@/lib/supabase'
import Layout from '@/layouts/Layout.astro'
import NavBar from '@/components/ui/NavBar.vue'
import CreateCategory from '@/components/forms/CreateCategory.vue'
import CategoryList from '@/components/categories/CategoryList.vue'
import ThemeIcon from '@/components/ui/ThemeIcon.astro'
import PageHeading from '@/components/PageHeading.astro'

const { cookies, redirect } = Astro
const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

const pageTitle = 'Categories'

if (!accessToken || !refreshToken) {
  return redirect('/signin')
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
})

if (error) {
  cookies.delete('sb-access-token', {
    path: '/',
  })
  cookies.delete('sb-refresh-token', {
    path: '/',
  })

  return redirect('/signin')
}
---
<Layout title={pageTitle}>
  <header>
    <NavBar
      profileEmail={data.user?.email}
      client:visible
    >
      <ThemeIcon slot="theme-toggle" />
    </NavBar>
  </header>
  <main>
    <PageHeading>
      {pageTitle}
    </PageHeading>
    <CreateCategory
      profileId={data.user?.id}
      client:visible
    />
    {
      data.user &&
      <CategoryList
        userId={data.user.id}
        client:only="vue"
      />
    }
  </main>
</Layout>
