---
import '@/styles/globals.css'
import astroConfig from 'astro.config.mjs'
import { supabase } from '@/lib/supabase'
import { Profile } from '@/lib/db/schemas'
import db from '@/lib/db/db'
import { eq } from 'drizzle-orm'
import Layout from '@/layouts/Layout.astro'
import NavBar from '@/components/ui/NavBar.vue'
import CreateBookmark from '@/components/forms/CreateBookmark.vue'
import BookmarkList from '@/components/bookmarks/BookmarkList.vue'
import ThemeIcon from '@/components/ui/ThemeIcon.astro'
import NavLink from '@/components/ui/NavLink.astro'
import ToggleVisibilityButton from '@/components/ui/visibility-toggle/ToggleVisibilityButton.astro'
import ToggleVisibility from '@/components/ui/visibility-toggle/ToggleVisibility.astro'
import PageHeading from '@/components/PageHeading.astro'

const { cookies, redirect } = Astro

const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

if (!accessToken || !refreshToken) {
  return redirect('/signin')
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
})

if (error) {
  cookies.delete('sb-access-token', {
    path: '/',
  })
  cookies.delete('sb-refresh-token', {
    path: '/',
  })

  return redirect('/signin')
}

let profiles: { id: string; email: string | null }[] = []

if (data.user) {
  profiles = await db.select({id: Profile.id, email: Profile.email}).from(Profile).where(eq(Profile.id, data.user?.id))
}

const profile = profiles[0]

const { site } = astroConfig

const pageTitle = 'Bookmarks'
---
<Layout title={pageTitle}>
  <header>
    <NavBar
      profileEmail={profile.email}
      client:visible
    >
      <NavLink
        slot="nav-link"
        pathname="/categories"
        label="Categories"
      />
      <ThemeIcon slot="theme-toggle" />
    </NavBar>
  </header>
  <main>
    <div class="flex justify-between items-center">
      <PageHeading>
        {pageTitle}
      </PageHeading>
      <ToggleVisibilityButton />
    </div>
    <ToggleVisibility>
      <CreateBookmark
        class="px-6"
        profileId={profile.id}
        client:visible
      />
    </ToggleVisibility>
    <BookmarkList
      userId={profile.id}
      site={site as string}
      client:only="vue"
    />
  </main>
</Layout>
